*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------------------Header--------------- */

header{
  width: 100%;
  height: 115px;
  background-color: #7CBB7C;
}

.cont-logo{
  margin-left: 28px;
}

/* -----------------------Aside--------------- */
aside{
  width: 200px;
  height: 850px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.aside-sup{
  margin-top: 45px;
}

.home-icon{
  width: 60px;
  height: 60px;
  color:#008000;
  
}

.img-plant-icon{
  margin-top: 30px;
  width: 50px;
}

.aside-inf{
  text-align: center;
}

.admin-icon{
  width: 60px;
  height: 60px;
  color:#008000;
}

