*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100vw;
  height: 100vh;
}


@media (max-width: 900px) { 
  .App{
    /* background-image:url(./images/manos1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    min-height: 90%;
    width: 100vw;
    overflow: hidden;
  }
}

/* -----------------------Header--------------- */

.header{
  width: 100vw;
  height: 115px;
  background-color: #7CBB7C;
  display: flex;
  align-items: center;
  position: fixed;
}

@media (max-width: 900px) { 
  .header{
    background-color: white;
    justify-content: center;

  }
}

@media (max-width: 445px) { 
  .header{
    height: 80px;
  }
}

.cont-logo{
  width: 110px;
  height: 110px;
  margin-left: 28px;
  display: flex;
  align-items: center;
}

@media (max-width: 445px) { 
  .cont-logo{
    width: 80px;
    height: 80px;
  }
}

.img-enc{
  width: 100%;
}

.content{
  margin: 0 auto;
  display: flex;
  width: 1000px;
  justify-content: center;
}


@media (max-width: 900px) { 
  .content{
    width: 450px;
}
}

@media (max-width: 455px) { 
    .content{
    width:280px;
}
}
/* -----------------------Aside--------------- */
aside{
  margin-top: 116px;
  width: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color:rgb(255, 255, 255);
 
}

@media (max-width: 900px) { 
  aside{
   display: none;
  }
}
.aside-sup{
  margin-top: 45px;
}

.home-icon{
  width: 60px;
  height: 60px;
  color:#008000;
  
}

.img-plant-icon{
  margin-top: 30px;
  width: 50px;
}

@media (max-width: 900px) { 
  .img-plant-icon{
    margin-top: 0px;
  }
}
.aside-inf{
  text-align: center;
}

.admin-icon{
  width: 60px;
  height: 60px;
  color:#008000;
}

/* -----------------Admin Login--------------- */

.admin-login{
  width: 800px;
  height: 620px;
  margin-top: 115px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .admin-login{
    width: 500px;
    margin-top: 115px;
  } 
  
}

@media (max-width: 660px) { 
  .admin-login{
    width: 300px;
    margin-top: 115px;
    height: 620px;
  } 
}
@media (max-width: 455px) { 
  .admin-login{
    width: 300px;
    height: 470px;
  } 
}
.admin-login h2{
  text-align: center;
  height: 40px;
  color:#008000;
  font-weight: 400;
  font-style: italic;
}

.login-admin-cont{
  max-width: 800px;
  height: 490px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) { 
  .login-admin-cont{
    width: 480px;
    height: 400px;

  }
}

@media (max-width: 660px) { 
  .login-admin-cont{
    width: 300px;
    height: 400px;

  }
}

@media (max-width: 455px) { 
    .login-admin-cont{
    width: 300px;
    height: 400px;
  }
}
.form-login{
  margin: 0 auto;
  width: 45%;
  height: 485px;
  background-color: white;
  border: 2px solid #008000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 900px) { 
  .form-login{
    width: 400px;
    height: 480px;
    background-color: rgb(217, 217, 217, 0.8);
  }
}

@media (max-width: 660px) { 
  .form-login{
    margin-top: 25px;
    width: 280px;
    height: 380px;
    background-color: rgb(217, 217, 217, 0.8);
  }
}
.form-login div:first-child{
  margin-top: 100px;
}

.form-login button{
  width: 110px;
  height: 35px;
  border-radius: 50px;
  background-color: #008000;
  color: white;
  border-style: none;
}

.login-btn{
  margin-top: 30px;
  width: 380px;
  display: flex;
  justify-content: right;
  margin-right: 30px;
}

@media (max-width: 660px) { 
  .login-btn{
    margin-top: 30px;
    width: 380px;
    display: flex;
    justify-content: center;
    margin-right: 30px;
  }
  
}
@media (max-width: 450px) { 
  .login-btn{
    width: 200px;
    margin: 0;
    margin-top: 15px;
  }
  
}

.input{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.pass-input{
  width: 290px;
  border: none;
  border-bottom: 2px solid #008000;
  background-color: transparent;
}

@media (max-width: 660px) { 
  .pass-input{
    width: 200px;
    border: none;
    border-bottom: 2px solid #008000;
    background-color: transparent;
  }
}
.input label{
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-login-admin{
  background-image:url(./images/manos1.png);
  width: 55%;
  height: 485px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 900px) { 
  .img-login-admin{
    display: none;
  }

  .central-body{
   margin: 0 auto;
  }
}

@media (max-width: 450px) { 
  .central-body{
    max-height: 700px;
  }
}


/* ---------------------------Footer------------------ */

@media (max-width: 900px) { 
  footer{
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  margin-top: auto;
 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
}

@media (min-width:900px ) { 
  footer{
    display:none;
  }
}

@media (max-width: 660px) { 
  .home-icon{
    width: 40px;
    height: 40px
  }
  
  .img-plant-icon{
    margin-top: 30px;
    width: 35px;
  }
  .central-body{
    height: 100vh;
    
   }
}
  @media (max-width: 900px) { 
    .img-plant-icon{
      margin-top: 0px;
    }
  }
  
  .admin-icon{
    width: 40px;
    height: 40px;
  }

/* -----------------------Form--------------- */

.cont-form{
  margin: 115px auto 0px;
  background-image:url(./images/unidos.png);
  width: 1080px;
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {  
.cont-form{
  width: 800px;
  height: 750px;
}
}
@media (max-width: 800px) {  
.cont-form{
  width: 650px;
  margin: 80px auto 0px;
}
}
@media (max-width:650px) {  
.cont-form{
  width: 500px;
   margin: 115px auto 0px;
}
}
@media (max-width: 480px) { 
  .cont-form{
    width: 320px;
  }
}
.donation-form{
  margin: auto;
  background-color: #d9d9d9;
  width: 700px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) { 
.donation-form{
  width: 600px;
}
}
@media (max-width: 800px) { 
.donation-form{
  width: 550px;
}
}
@media (max-width: 650px) { 
.donation-form{
  width: 400px;
}
}

.donation-form h1{
  width: 400px;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 650px) { 
  .donation-form h1{
  width: 300px;
  font-size: 20px;
}
}

.donation-form h2{
  font-size: 25px;
  color: #008000;
  margin-top: 30px;
  font-weight: 400;
}

@media (max-width: 650px) { 
  .donation-form h2{
  font-size: 20px;
}
}

.donation-form label{
  margin-left: 10px;
}

.person-type{
  margin: 30px;
  display: flex;
  width: 400px;
  justify-content: space-around;
}

@media (max-width: 650px) { 
  .person-type{
  width: 300px;
}

}

.person-type label{
  font-size: 20px;
}

@media (max-width: 650px) { 
  .person-type label{
    font-size: 15px;
  }
}
.form-fields{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  gap: 25px;
  justify-content: center;
  font-size: 20px;
}

@media (max-width: 650px) { 
  .form-fields{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    gap: 15px;
    font-size: 20px;
  }
}

@media (max-width: 370px) { 
  .form-fields{
    display: flex;
    flex-wrap: wrap;
    width:370px;
    gap: 5px;
    font-size: 15px;
  }
}
.form-fields div{
  width:35%;
  text-align: center;
}

.certif{
  display: flex;
}

.form-fields input{
  background-color: transparent;
  border: 2px solid green;
  width: 200px;
  height: 30px;
}

@media (max-width: 650px) { 
  .form-fields input{
    width: 170px;
    height: 25px;
  }
}

@media (max-width: 370px) { 
  .form-fields input{
    width: 130px;
    height: 25px;
  }
}
.form-fields input::placeholder{
  color: #0f0f0f;
  font-size: 20px;
  text-align:center;
}

@media (max-width: 650px) { 
.form-fields input::placeholder{
  color: #0f0f0f;
  font-size: 16px;
  text-align:center;
}

}
select{
  background-color: transparent;
  border: 1px solid black;
  width: 180px;
  height: 30px;
  font-size: 20px;
  text-align:center;
}

@media (max-width: 650px) { 
  select{
    width: 160px;
    height: 25px;
    font-size: 16px;
  }
  
}

@media (max-width: 370px) { 
  select{
    width: 130px;
    height: 25px;
    font-size: 16px;
  }
}
.radio-input{
  font-size: 20px;
  width:20px;
  height: 20px;
}


.certif input{
  font-size: 20px;
  width:20px;
  height: 20px;
}

@media (max-width: 650px) { 
  .certif input{
    font-size: 15px;
  }
  
}

@media (max-width: 650px) { 
  .certif label{
    font-size: 15px;
  }

  .req{
    font-size: 15px;
  }
}

@media (max-width: 370px) { 
  .certif label{
   margin-left: 5px;
  }
  .cerf div{
    width: 20px;
}
}

.aditional-comments input{
 width: 500px;
 height: 100px;
 text-align: center;
 margin-top: 45px;
 background-color: transparent;
 border: 2px solid green;
 font-size: 20px;
}

@media (max-width: 650px) { 
  .aditional-comments input{
    width: 300px;
    height: 80px;
    text-align: center;
    margin-top: 45px;
    font-size: 20px;
   }
}

.send-form{
  margin-top: 30px;
  display: flex;
  width: 500px;
  justify-content: space-between;
}

@media (max-width: 650px) { 
  .send-form{
    margin-top: 30px;
    display: flex;
    width: 350px;
    justify-content: space-between;
    font-size: 13px;
  }
}

.send-form button{
  width: 110px;
  height: 35px;
  border-radius: 50px;
  background-color: #008000;
  color: white;
  border-style: none;
}

@media (max-width: 650px) { 
  .send-form button{
    width: 80px;
    height: 35px;
    border-radius: 50px;
    background-color: #008000;
    color: white;
    border-style: none;
  }  

  .terms{
    text-align: justify;
  }
}

.terms-form{
  width: 370px;
  display: flex;
  align-items: center;
}

