*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    font-size: 62.5%;
} */

:root {
    --green-fundacion: #008000;
}

.img-newuser{
    display: none;
}

@media (min-width: 768px) { 
    .img-newuser{
       background-image: url(./images/Img_NewUser.png);
       background-repeat: no-repeat;
       background-position: center;
       background-size: contain;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 70vh;
       width: 33vw;  

    }
  }


.container-newuser{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/Img_NewUser.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@media (min-width: 768px) { 
    .container-newuser{
        background-image:none;
    }
  }

@media (min-width: 768px) { 
  .container-form-newuser{
    border: 1px solid var(--green-fundacion);
    padding: 15px;
  
 
  }
}

.container-form{
    background-color: #D9D9D9;
    border-radius: 10px;
    opacity: 0.90;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

@media (min-width: 768px) { 
    .container-form{
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
        align-content: center; 
        justify-content: center; 
        gap: 4rem;
    }
  }



.container-form-newuser form{
    font-weight: bold;
    display: flex;
    flex-direction: column;   
}

.container-newuser span{
    font-weight: bold;
    font-size: 2rem;
}

@media (min-width: 768px) { 
    .container-newuser span{
        display: flex;
        justify-content: center; 
    }
  }


.container-form-newuser label{
   font-size: 1.2rem;
   padding: 2rem 0 0.5rem 0;
}


.container-form-newuser input{
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--green-fundacion);
    caret-color: var(--green-fundacion);
    padding: 0.4rem 0.1rem;
    cursor:move;
}

.button-newuser{
    display: block;
    margin: 0  auto;
    background-color: var(--green-fundacion);
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 3px;
    margin-top: 45px;
    width: 13rem;
    height: 3rem;   
}       

