*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
html {
    font-size: 62.5%;
} */

:root {
    --green-fundacion: #008000;
}

.container-popup{
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    padding-left: 15px;
    align-items: center;

}

.container-popup {
    width: 290px;
    height: 150px;
    background: linear-gradient(to right, #fff 100px, #008000 100px);
    border-radius: 20px;
   
} 

@media (min-width: 768px) { 
    .container-popup{
        width: 350px;
    height: 150px; 

    }
  }

.container-popup img{
    width: 75px;
    height: 70px;
} 

.description-popup p{
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    padding: 2rem 0 1.5rem 0;
}


@media (min-width: 768px) { 
    .description-popup p{
        font-size: 1.8rem;
        padding: 1.5rem 0 1rem 0;
    }
  }


.container-buttons-popup{
    display: flex;
    justify-content: center;

}

@media (min-width: 768px) { 
    .container-buttons-popup{
        gap:1.5rem;
    }
  }

.item-button-popup{
    margin: 01.8rem 0.3rem;
    background-color: white;
    color: var(--green-fundacion);
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 3px;
    width: 7rem;
    height: 2.5rem;
}

@media (min-width: 768px) { 
    .item-button-popup{
        font-size: 1.8rem;
        width: 8rem;
        height: 2.5rem;
    }
  }